/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
}

.banner {
    /* 부모 위치 선언 */
    position: relative;
    border: 1px solid #ccc;
    display: block;
    width: 600px;
    height: 176px;

    /* 배경 이미지 레이어링 */
    background-image: 
        url('./images/Iron-Man176\ 1.png'),
        url('./images/Tank.gif');
    background-repeat: no-repeat, no-repeat;

    /* 첫번째 배경위치 0 0, 두번째 배경 위치 right top */
    background-position: 0 0, right top; 
    
    /* 2번째 이미지의 크기를 조정(자동 채움) */
    background-size: auto, cover;

    /* 바깥 영역 가려주기(clipping 처리) */
    overflow: hidden;
}

.banner .logo {
    position: absolute;
    left: 201px;
    /* top: 33px; */
    top: -177px;

    /* 애니메이션 속성 */
    animation-name: banner;
    animation-duration: 0.4s;

    /* 재생 종료시 끝난 위치에서 정지 */
    animation-fill-mode: forwards;

    /* 애니메이션 2초 기다리고 시작하기 */
    animation-delay: 2s;
}

@keyframes banner {
    0% {
        top: -177px;
    }

    100% {
        top: 33px;
    }
}

